/* Style rules for table */
table {
    border: 1px solid #237654;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #237654;
    padding: 2%;
}

th {
    background-color: #237654;
    color: #fff;
    font-size: 1.15em;
}

tr:nth-child(odd) {
    background-color: #b7b7e1;
}